@import 'resets';
@import 'variables';
@import 'header';
@import 'language-switch';
@import 'home';
@import 'footer';

.top-bar {
    width: 100%;
    background-color: $darker-blue;
    padding: 0.6rem;
    font-weight: 700;
    z-index: -1;
    
    a {
        color: $background-color;
        font-size: 1.6rem;  
    }
    
    .top-right-side {
        display: flex;
        align-items: center;
        gap: 2rem;

        .language-switch {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            z-index: 1;
            // border: 1px solid red;
        }
        
        .language-btn {
            padding: 0;
            cursor: pointer;
            outline: none;
            border: none;
            color: $background-color;
            background: none;
            transition: .3s;
        
            img {
                aspect-ratio: 1/1;
                width: 2rem;
                line-height: 16px;
                vertical-align: middle;
                border-radius: 50%;
                padding: 0;
            } 
        
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
.debis a:hover {
    color: #fff;
    text-decoration: underline;
}

.university, .debis {
    z-index: 1;
}

.top-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: $background-color;
}

